.body {
    font-family: 'Space Grotesk';
    font-size: 22px;
}

#iceblue{
    color: aliceblue;
} 

#Details{
    padding-left: 80px;
    color: aliceblue;
}

#emp_list{
    border-right:1px solid aliceblue;
}
/* 
#form{
    padding-left: 80px;
} */

#link{
    color: aliceblue;
    text-decoration: none;
}

#link:hover{
    color:  #FFE81F; 
    text-decoration:none; 
    cursor:pointer;  
}

#link:focus {
    color: black;
    background-color: #FFE81F;    
}

#link.active {
    color: black;
    background-color: #FFE81F;
}

#button{
    padding-left: 600px;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}