{% extends 'base.html' %}

{% block content %}
    <h1> Details for {{user.first_name}}  {{user.last_name}}</h1>
    <h2> {{user.title.title}} </h2>
    <table>
      <tr>
        <th> First name </th>
        <td> {{user.first_name}}</td>
      </tr>
      <tr>
        <th> Last name </th>
        <td> {{user.last_name}}</td>
      </tr>
      <tr>
        <th> Email </th>
        <td> {{user.email}}</td>
      </tr>

      <tr>
        <th> Phone </th>
        <td> {{user.phone}}</td>
      </tr>
    </table>

    <h2> Leave Details </h2>
    <table>
      <tr>
        <th> Total Leaves:  </th>
        <td> {{leave.total_leaves}}</td>
      </tr>
      <tr>
        <th> Leaves Taken: </th>
        <td> {{leave.leaves_taken}}</td>
      </tr>
      <tr>
        <th> Leaves Remaining: </th>
        <td> {{leave.leaves_remaining}}</td>
      </tr>
    </table>
    <a href="{{url_for('employees')}}"> Back to list of employees </a>
    <br>
    <a href="{{url_for('add_employee_leaves',empid=user.id)}}">Add leaves</a>
  </br>
{% endblock %}